.top {
    margin-top: 7px;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 52px;
    position: relative; /* Для псевдоэлемента */
}

.top::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw; 
    height: 1px;
    background-color: #E0E0E0;
    bottom: -25px; 
    transform: translateX(-50%); 
    left: 50%; 
}


.arrowback{
    background-color: white;
    border: none;
    
}
