#button{

}

.mainscreen {
    margin: 16px 10px;
}


.functionpanel {
    display: flex;
    justify-content: flex-end; /* Выровнять кнопку по правому краю */
    margin-bottom: 16px; /* Отступ снизу для разделения элементов */
}

.balls{
    display: flex;
}

.variants {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    outline: olive;
}

.buttonhost,
.buttondelivery {
    width: 156px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid #08091C;
    cursor: pointer;
    transition: background-color 0.2s, color 0.3s;
    font-size: 14px;
}

.active {
    background-color: black; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
}

.block{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}


