#button{

}

.mainscreen {
    padding: 20px 16px;
    position: relative;
}


.functionpanel {
    display: flex;
    justify-content: flex-end; /* Выровнять кнопку по правому краю */
    margin-bottom: 16px; /* Отступ снизу для разделения элементов */
}

.balls{
    display: flex;
    border: none;
    background-color: white;
}

.variants {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    outline: olive;
    gap: 15px;
}

.buttonhost,
.buttondelivery {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid #08091C;
    cursor: pointer;
    transition: background-color 0.2s, color 0.3s;
    font-size: 14px;
}

.active {
    background-color: black; /* Цвет фона для активной кнопки */
    color: white; /* Цвет текста для активной кнопки */
}

.block{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
}


.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца */
    gap: 15px;
    width: 100%;
    margin-bottom: 80px;
}

/* Для последней карточки сделать так, чтобы она не занимала всю ширину, если стоит не в паре */
.cardsContainer > .block:last-child {
    grid-column: span 1;
    justify-self: start; /* Выравнивание по началу */
}




