.inline{

}

.public {
    padding: 20px 16px;
    background-color: #D9D9D9;
    height: 260px;
    width: 100vw; /* Занимает всю ширину окна */
    position: relative;
    margin-left: calc(-1 * 16px); /* Выравнивает с учетом внешнего отступа приложения */
    margin-top: calc(-1 * 20px); /* Убирает верхний отступ */
    margin-bottom: 16px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.arrow{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: white;
}

.basket{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: white;
}

 .number {
        font-size: 9px;
        color: white;
        border-radius: 10px; /* Делает цифру круглой */
        background-color: #e53e3e;
        width: 19px;
        height: 10px;
        position: absolute;
        bottom: 5px; 
        left: 5px; 
        display: flex;
        justify-content: center;
        align-items: center;
}

.time {
    /* width: 225px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;
    height: 30px;
    border-radius: 12px;
    background-color: #212233;
    position: absolute; /* Позиционируем элемент */
    right: 16px; /* Отступ от правого края */
    bottom: 10px; /* Отступ от нижнего края */
    font-size: 16px; /* При необходимости */
    color: white;
}

.timeP{
    font-size: 12px;
}

.title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.text{
    font-size: 14px;
    font-weight: 400;
}

.info{
    margin-bottom: 16px;
}

.compoundCon{
    margin: 16px 0px;
}
.compound{
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 60%;
}

.buttonsMore{
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.present {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: none;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    position: relative; /* Для псевдоэлемента */
    
}
.present:first-child {
    margin-top: 16px;
    
}

.present:last-child {
    margin-bottom: 32px;
    
}

.present::after {
    content: ""; /* Создаем пустой элемент */
    display: block;
    position: absolute; /* Абсолютное позиционирование */
    bottom: -10px; /* Расстояние от текста */
    left: 0; /* Выравниваем по левой границе */
    width: 100%; /* Ширина равна кнопке */
    height: 1px; /* Толщина линии */
    background-color: black; /* Светло-серый цвет */
    opacity: 9%;
}

.more{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}

.moreTitle{
    font-size: 14px;
    opacity: 60%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1000; /* Поверх всех элементов */
  }
  
  .giftModal {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80%; /* Высота шторки */
    background-color: white;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    animation: slideUp 0.3s ease-in-out;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .giftContent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }
  
  .radioOption {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .closeButton {
    margin-top: auto;
    background-color: #e53e3e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  