.basket{
    /* display: flex;
    flex-direction: column; */
    /* position: relative; */
}

.basketContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basketPosition{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other{
    display: flex;
    align-items: center;
    gap: 8px;
}

.basImg {
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Увеличивает изображение до размеров контейнера, обрезая лишнее */
}

  

.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priceweight{
    display: flex;
    gap: 8px;
}

.price{

}

.weight{

}

.lenght{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: space-between;
    padding: 0 10px;
}

.button{
    background-color: white;
    border: none;
    outline: none;
    position: relative;
}

.itemCount{

}

.icon{

}

.emptyMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    width: 100%;
    gap: 8px;
}



.emptyMessage p:first-child {
    color: #08091C;
    font-weight: 500;
    font-size: 18px;
}

.topBar{

}

.trash {
    position: absolute;
    top: 4.2%; 
    right: 16px;

    background: none;
    border: none; 
    cursor: pointer;
}

.attention{
    font-size: 18px;
    font-weight: 500;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0px 16px;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
  }

  .buttons {
    display: flex;
    justify-content: flex-end; /* Выравнивание кнопок по правому краю */
    gap: 16px; /* Расстояние между кнопками */
    margin-top: 16px; /* Небольшое расстояние сверху */
}

.cancel {
    color: red;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.clean {
    color: black;
    background-color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
  

