.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца */
    gap: 15px;
    width: 100%;
    margin-bottom: 80px;
}

.modal {
    position: fixed;
    border-radius: 10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* max-width: 550px; */
    /* max-width: 328px; */
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modalContent {
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: -18px;
    right: -4px;
    font-size: 25px;
    cursor: pointer;
    color: grey;
  }

  .modalText{
    color: grey;
  }