.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца */
    gap: 15px;
    width: 100%;
    margin-bottom: 80px;
}

.rec{
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
}