.carddeffault {
    background-color: #D9D9D9; 
    background-size: cover; 
    background-position: center; 
    border-radius: 10%;
    width: 100%;
    height: 156px;
    position: relative; 
    overflow: hidden; 
}

.text {
    color: white; 
    text-align: center;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6); 
    border-radius: 5px 5px 0 0; 
    padding: 5px;
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    box-sizing: border-box; 
}
