.top {
  margin-top: 7px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 52px;
  position: relative; /* Для псевдоэлемента */
}

.top::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100vw; /* Растянуть линию на всю ширину экрана */
  height: 1px;
  background-color: #E0E0E0;
  bottom: -25px; /* Расположение под элементами */
  transform: translateX(-50%); /* Смещаем линию влево на половину экрана */
  left: 50%; /* Центрируем линию */
}


.arrowback{
  background-color: white;
  border: none;
  
}


.rest {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Высота на весь экран */
}

.restform {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 16px;
  border-radius: 10px;
  outline: none;
  border-width: 2px;
  border-color: #9c9da4;
}

.option {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.option p {
  font-size: 14px;
}

.option input[type="checkbox"] {
  appearance: none; /* Убираем стандартный стиль чекбокса */
  width: 20px;
  height: 20px;
  border: 2px solid #9c9da4;
  border-radius: 4px; /* Закругленные углы */
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.option input[type="checkbox"]:checked {
  background-color: #333333; /* Тёмный фон */
  border-color: #333333;
}

.option input[type="checkbox"]:checked::before {
  content: "✔"; /* Галочка */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; /* Белый цвет галочки */
  font-size: 14px;
  font-weight: bold;
}

.price {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.result {
  position: fixed;
  bottom: 0px;
  right: 16px;
  left: 16px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  padding-bottom: 16px;
  max-width: 550px;
  margin: 0 auto;
}

.pay {
  width: 136px;
  height: 48px;
  background-color: #f0f0f1;
  outline: none;
  border: none;
  border-radius: 10px;
}

/* Разъединение кнопки и цены */
.result .price {
  flex: 1; /* Заполняет доступное пространство слева */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result .pay {
  margin-left: 16px; /* Отступ слева для кнопки */
  flex-shrink: 0; /* Не уменьшается */
  width: 136px;
  height: 48px;
  background-color: #f0f0f1;
  outline: none;
  border: none;
  border-radius: 10px;
}

.result .payValid {
  margin-left: 16px; /* Отступ слева для кнопки */
  flex-shrink: 0; /* Не уменьшается */
  width: 136px;
  height: 48px;
  background-color: #262737;
  outline: none;
  border: none;
  border-radius: 10px;
}


.errorInput {
  border-color: red !important;
}

.payValid {
  background-color: #4CAF50; /* Зеленая кнопка */
  color: white;
}

.pay {
  background-color: #f0f0f1; /* Серая кнопка по умолчанию */
  color: #000;
}

input:disabled {
  background-color: #dcdcdc;
}

.remark{
  border: 1px solid #e9e9eb;
  padding: 10px 16px;
  border-radius: 10px;
  margin: 16px 0;
}

.remarktext{
  font-size: 12px;
  color: #9c9da4;
}

.policy{
  margin-top: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.policy{
  font-size: 14px;
  font-weight: 500;
}

.link{
  color:#6b6b77 ;
}

.policy input[type="checkbox"] {
  appearance: none; /* Убираем стандартный стиль чекбокса */
  width: 20px;
  height: 20px;
  border: 2px solid #9c9da4;
  border-radius: 4px; /* Закругленные углы */
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.policy input[type="checkbox"]:checked {
  background-color: #333333; /* Тёмный фон */
  border-color: #333333;
}

.policy input[type="checkbox"]:checked::before {
  content: "✔"; /* Галочка */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; /* Белый цвет галочки */
  font-size: 14px;
  font-weight: bold;
}


.linkpolicy{
  text-align: left;
}
